#Enca {
    display: flex;
    background-color: #EAFFFD;
    padding: 20px 0 20px 0;
    justify-content: center;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.Encabezado_izquierdo {
    display: flex;
    align-items: center;
    margin-left: 30px; 
}

#Enc_Crea,#Enc_Catg,#Enc_Dise {
    text-transform: none;
    text-decoration: none;
    margin-right: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #000;
}

.Encabezado_central {
    display: flex;
    align-items: center; 
    margin: 0 40px 0 40px;
}
#Enc_MaAR {
    text-decoration: none;
    font-family: 'Righteous', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #000;
}
#Enc_MaAR_Market {
    color: #004A46; 
}
#Enc_MaAR_AR {
    color: #5AD3B4; 
}

.Encabezado_derecho {
    display: flex;
    align-items: center;
    margin-right: 30px; 
}
#Enc_Dowl, #Enc_Perf, #Enc_Carr {
    width: 60px;
    height: 60px;
    margin-right: 80px;
}


#Bus {
    display: flex;
    margin: 10px auto;
    border: 1.5px solid #000;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

#Bus_Lup {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 30px; 
}

#Bus_Lup,#Bus_Lup_Imagen {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#Bus_Caj {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px;
    width: 300px;
    font-family: 'Roboto', sans-serif;
}

#Bus_Ord {
    border: none;
    outline: none;
    font-size: 18px;
    padding: 10px;
    margin-right: 10px;
    font-family: 'Roboto', sans-serif;
    margin-right: 30px;
}


#Fav {
    display: flex;
    background-color: #EAFFFD;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
    padding: 30px;
}
#Fav_Enc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
#Fav_Enc_Tit {
    font-family: 'Righteous', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #000;
    margin-right: 50px;
}
#Fav_Enc_Ord {
    background-color: #5AD3B4;
    padding: 5px;
    border-radius: 5px;

}
#Fav_Con {
    display: flex;
    align-items: center;

}

.class p {
    font-family: 'Roboto',sans-serif;
    font-size: 12px;
    color: #000;
}
.Favoritos button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 30px; 
}

.Favoritos button, .Favoritos img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    flex-direction: row !important;
}

#Fav_Con_Pri1, #Fav_Con_Pri2, #Fav_Con_Pri3 {
    width: 230px;
    height: 230px;
}
