/*           CHAT           */




.container_chat {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* ───────── PANEL IZQUIERDO ───────── */

.sidebar {
  width: 35%;
  max-width: 350px;
  background: #ffffff;
  border-right: 1px solid #c5c5c5;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  border-bottom: 1px solid #c5c5c5;
}

.tab {
  flex: 1;
  padding: 15px;
  background: #fff;
  border: none;
  cursor: pointer;
  font-weight: 600;
  color: #444;
  border-bottom: 2px solid transparent;
}

.tab.active {
  color: #0b774b;
  border-bottom: 3px solid #0b774b;
}

/* LISTA MENSAJES */

.messages-list {
  overflow-y: auto;
  flex: 1;
  padding: 10px;
}

.message-item {
  display: flex;
  gap: 10px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.2s;
}

.message-item:hover {
  background: #e9f6ee;
}

.message-item.active {
  border: 1px solid #0b774b;
  background: #e9f6ee;
}

.message-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.message-info h4 {
  font-size: 15px;
  font-weight: 700;
}

.message-info p {
  font-size: 14px;
  color: #555;
}

.message-info span {
  font-size: 12px;
  color: #888;
}

/* ───────── PANEL DERECHO ───────── */

.content {
  flex: 1;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content > header {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.email-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.email-header img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.email-header h4 {
  margin-bottom: 5px;
}

.actions_chat {
  margin-left: auto;
  display: flex;
  gap: 15px;
}

.actions_chat button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.email-content {
  padding: 20px;
  overflow-y: auto;
}
